# <img style="float: left; padding-right: 20px; width: 200px" src="https://raw.githubusercontent.com/raxlab/imt2200-data/main/media/logo.jpg">  IMT 2200 - Introducción a Ciencia de Datos
**Pontificia Universidad Católica de Chile**<br>
**Instituto de Ingeniería Matemática y Computacional**<br>
**Semestre 2025-S2**<br>
**Profesor:** Rodrigo A. Carrasco <br>

# <h1><center>Actividad 01: Herramientas Computacionales para Ciencia de Datos </center></h1>
    
## 1. Objetivos de la Actividad

Esta Actividad tiene como objetivo probar el ambiente de programación de cada estudiante, la instalación de librerías de Python. El segundo objetivo es aprender a usar GitHub, a configurar su repositorio, y entregar la actividad.

## 2. Módulos de Python

### 2.1 Importar módulos

Se recomienda comenzar con la importación de módulos o librerías de funciones para distintos usos, o partes de una libreria
Para facilitar la referencia a librerías en el resto del código, se acostumbra asignarles un alias. La sintaxis general a usar para importar un módulo es:

``import NOMBRE_MODULO as ALIAS_MODULO``
o
``from NOMBRE_MODULO import FUNCION``

In [16]:
#Importación de librerías: importe las siguientes librerías, usando alias comunes: numpy, pandas, geopandas
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

## 3. Ejercicio: Inspección de Datos del Censo 2017
El código a continuación permite descargar, leer, hacer algunos cálculos básicos y visualizar los datos de población del censo chileno de 2017 para la región metropolitana.
En este notebook, ud. sólo debe ejecutar las celdas de código a continuación, hasta generar una figura con la distribución de población total por manzana censal en la RM. Como demostración de la ejecución exitosa del código, debe subir este notebook y la figura final a su repositorio de Github.

In [17]:
#Leer archivo enun DataFrame
dat=pd.read_csv('Censo2017_Manzanas.csv',delimiter=';')

#Visualizar las primeras lineas
dat.head(7)

,REGION,PROVINCIA,COMUNA,DC,AREA,ZC_LOC,MZ_ENT,ID_ZONA_LOC,ID_MANZENT,PERSONAS,...,MATREC,MATIRREC,P05_1,P05_2,P05_3,P05_4,REGION_15R,PROVINCIA_15R,COMUNA_15R,ID_MANZENT_15R
0,1,11,1101,1,1,1,1,7849,1101011001001,15,...,0,0,0,0,0,0,1,11,1101,1101011001001
1,1,11,1101,1,1,1,10,7849,1101011001010,70,...,1,0,15,0,0,0,1,11,1101,1101011001010
2,1,11,1101,1,1,1,11,7849,1101011001011,36,...,5,0,15,0,0,0,1,11,1101,1101011001011
3,1,11,1101,1,1,1,12,7849,1101011001012,65,...,9,4,24,0,0,0,1,11,1101,1101011001012
4,1,11,1101,1,1,1,13,7849,1101011001013,39,...,0,0,9,0,0,0,1,11,1101,1101011001013
5,1,11,1101,1,1,1,14,7849,1101011001014,160,...,5,0,61,0,0,0,1,11,1101,1101011001014
6,1,11,1101,1,1,1,15,7849,1101011001015,19,...,2,0,7,0,0,0,1,11,1101,1101011001015

In [18]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180499 entries, 0 to 180498
Data columns (total 59 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   REGION          180499 non-null  int64
 1   PROVINCIA       180499 non-null  int64
 2   COMUNA          180499 non-null  int64
 3   DC              180499 non-null  int64
 4   AREA            180499 non-null  int64
 5   ZC_LOC          180499 non-null  int64
 6   MZ_ENT          180499 non-null  int64
 7   ID_ZONA_LOC     180499 non-null  int64
 8   ID_MANZENT      180499 non-null  int64
 9   PERSONAS        180499 non-null  int64
 10  HOMBRES         180499 non-null  object
 11  MUJERES         180499 non-null  object
 12  EDAD_0A5        180499 non-null  object
 13  EDAD_6A14       180499 non-null  object
 14  EDAD_15A64      180499 non-null  object
 15  EDAD_65YMAS     180499 non-null  object
 16  INMIGRANTES     180499 non-null  object
 17  PUEBLO          180499 non-null  object
 18  VIV_PART        180499 non-null  int64
 19  VIV_COL         180499 non-null  int64
 20  VPOMP           180499 non-null  int64
 21  TOTAL_VIV       180499 non-null  int64
 22  CANT_HOG        180499 non-null  int64
 23  P01_1           180499 non-null  int64
 24  P01_2           180499 non-null  int64
 25  P01_3           180499 non-null  int64
 26  P01_4           180499 non-null  int64
 27  P01_5           180499 non-null  int64
 28  P01_6           180499 non-null  int64
 29  P01_7           180499 non-null  int64
 30  P03A_1          180499 non-null  int64
 31  P03A_2          180499 non-null  int64
 32  P03A_3          180499 non-null  int64
 33  P03A_4          180499 non-null  int64
 34  P03A_5          180499 non-null  int64
 35  P03A_6          180499 non-null  int64
 36  P03B_1          180499 non-null  int64
 37  P03B_2          180499 non-null  int64
 38  P03B_3          180499 non-null  int64
 39  P03B_4          180499 non-null  int64
 40  P03B_5          180499 non-null  int64
 41  P03B_6          180499 non-null  int64
 42  P03B_7          180499 non-null  int64
 43  P03C_1          180499 non-null  int64
 44  P03C_2          180499 non-null  int64
 45  P03C_3          180499 non-null  int64
 46  P03C_4          180499 non-null  int64
 47  P03C_5          180499 non-null  int64
 48  MATACEP         180499 non-null  int64
 49  MATREC          180499 non-null  int64
 50  MATIRREC        180499 non-null  int64
 51  P05_1           180499 non-null  int64
 52  P05_2           180499 non-null  int64
 53  P05_3           180499 non-null  int64
 54  P05_4           180499 non-null  int64
 55  REGION_15R      180499 non-null  int64
 56  PROVINCIA_15R   180499 non-null  int64
 57  COMUNA_15R      180499 non-null  int64
 58  ID_MANZENT_15R  180499 non-null  int64
dtypes: int64(51), object(8)
memory usage: 81.2+ MB

### Pregunta: ¿Cuál era la población total de Chile en 2017?

Para responderla podemos hacer un cálculo sencillo y sumar todos los datos de la columna `PERSONAS`:

In [19]:
#Total de población
total_pop=dat['PERSONAS'].sum()
print(f'Población total en 2017: {total_pop}')

Población total en 2017: 17574003

También podemos usar algunas funciones más avanzadas de `pandas`para analizar la distribución de personas por región y edad:

In [20]:
#regiones con mas personas a menos
cols=["PERSONAS"]
for col in cols:
    dat[col]=dat[col].replace('*',0).astype(float)
    
pv=pd.pivot_table(dat, index='REGION', values=cols, aggfunc='sum', margins=True)
pv = pv.sort_values(by='PERSONAS', ascending=False)
pv

          PERSONAS
REGION
All     17574003.0
13       7112808.0
5        1815902.0
8        1556805.0
7        1044950.0
9         957224.0
6         914555.0
10        828708.0
4         757586.0
2         607534.0
16        480609.0
14        384837.0
1         330558.0
3         286168.0
15        226068.0
12        166533.0
11        103158.0

In [22]:
regiones = regiones_dict = {1: "Tarapacá", 2: "Antofagasta", 3: "Atacama", 4: "Coquimbo", 5: "Valparaíso", 6: "O’Higgins", 7: "Maule", 8: "Biobío", 9: "La Araucanía", 10: "Los Lagos", 11: "Aysén", 12: "Magallanes", 13: "Metropolitana de Santiago", 14: "Los Ríos", 15: "Arica y Parinacota", 16: "Ñuble"}
cols = ["PERSONAS"]
for col in cols:
    dat[col]=dat[col].replace('*',0).astype(float)
pv = pd.pivot_table(dat, index='REGION', values=cols, aggfunc='sum', margins=False)
pv = pv.sort_values(by='PERSONAS', ascending=False).reset_index()
pv["REGION"] = pv["REGION"].map(regiones_dict)
pv

                       REGION   PERSONAS
0   Metropolitana de Santiago  7112808.0
1                  Valparaíso  1815902.0
2                      Biobío  1556805.0
3                       Maule  1044950.0
4                La Araucanía   957224.0
5                   O’Higgins   914555.0
6                   Los Lagos   828708.0
7                    Coquimbo   757586.0
8                 Antofagasta   607534.0
9                       Ñuble   480609.0
10                   Los Ríos   384837.0
11                   Tarapacá   330558.0
12                    Atacama   286168.0
13         Arica y Parinacota   226068.0
14                 Magallanes   166533.0
15                      Aysén   103158.0

In [ ]:
regiones = regiones_dict = {1: "Tarapacá", 2: "Antofagasta", 3: "Atacama", 4: "Coquimbo", 5: "Valparaíso", 6: "O’Higgins", 7: "Maule", 8: "Biobío", 9: "La Araucanía", 10: "Los Lagos", 11: "Aysén", 12: "Magallanes", 13: "Metropolitana de Santiago", 14: "Los Ríos", 15: "Arica y Parinacota", 16: "Ñuble"}
cols = ["PERSONAS"]
for col in cols:
    dat[col]=dat[col].replace('*',0).astype(float)
pv = pd.pivot_table(dat, index='REGION', values=cols, aggfunc='sum', margins=False)
pv = pv.sort_values(by='PERSONAS', ascending=False).reset_index()
pv["REGION"] = pv["REGION"].map(regiones_dict)
pv.plot(kind='bar', x='REGION', y='PERSONAS', figsize=(12,6), color='skyblue', legend=False)
plt.xticks(rotation=45, ha='right')
plt.title('Población total por región')
plt.ylabel('Número de personas')
plt.xlabel('Región')
plt.tight_layout()
plt.show()

Y podemos graficar la cantidad por región:

In [ ]:
#Distribución por edad y género
cols=['EDAD_0A5','EDAD_6A14','EDAD_15A64','EDAD_65YMAS']
for col in cols:
    dat[col]=dat[col].replace('*',0).astype(float)
    
pv=pd.pivot_table(dat, index='REGION', values=cols, aggfunc='sum', margins=False)
pv

In [ ]:
fig = plt.figure(figsize=(11,2))
ax = fig.add_subplot(111)
ax.set_ylabel('Número de personas')
fig.suptitle('Distribución de población por Edad y Región (Chile, Censo 2017)')
pv.plot(kind='bar', ax =ax , color = ["#00a4ff","#002aa9","#00c696","#7100c7"]);
#cuando no se especifica colores justamente es color = b, orange , g y r
# se puede poner el color con hex o abreviatura :)

In [ ]:
fig = plt.figure(figsize=(11,8))
ax = fig.add_subplot(111)
ax.set_ylabel('Número de personas')
fig.suptitle('Distribución de población por Edad y Región (Chile, Censo 2017)')
pv.plot(kind='area', ax =ax , color = ["#00a4ff","#002aa9","#00c696","#7100c7"]);

In [ ]:
fig = plt.figure(figsize=(11,8))
ax = fig.add_subplot(111)
ax.set_ylabel('Número de personas')
fig.suptitle('Distribución de población por Edad y Región (Chile, Censo 2017)')
pv.plot(kind='hist', ax =ax , color = ["#00a4ff","#002aa9","#00c696","#7100c7"]);

## 4. Creación de un Mapa con información del Censo

A continuación usaremos librerías de geopandas para conectar un mapa de la Región Metropolitana con datos del Censo de 2017.

In [ ]:
#Leer datos censales
manz=gpd.read_file('R13/MANZANA_IND_C17.shp')
com=gpd.read_file('R13/COMUNA_C17.shp')

Geopandas permite graficar archivos de mapas de múltiples formas. Para más información pueden revisar el siguiente enlace: https://geopandas.org/en/stable/docs/user_guide/mapping.html

In [ ]:
com.plot(color = "c")

In [ ]:
manz.head(3)

El siguiente código conecta el mapa de la Región Metropolitana con la población por manzana del Censo 2017. Edite el código para que la figura tenga su nombre en el Titulo

In [ ]:
from mpl_toolkits.axes_grid1 import make_axes_locatable
import matplotlib.colors as colors

#Crear figura y ejes
fig=plt.figure(figsize=(13,13))
ax=fig.add_subplot(111)
divider = make_axes_locatable(ax)
cax = divider.append_axes("left", size="5%", pad=0.7)
#'left', 'right', 'bottom', 'top'

# cantidad de personas por manzana
Z=manz['TOTAL_PERS']
manz.plot(ax=ax, column='TOTAL_PERS', cmap="BrBG_r", legend=True, vmin=0, vmax=1000 , legend_kwds = {"orientation" :"horizontal", "pad": 0.05})
#colores fav:Blues_r , BrBG_r , Purples_r , BrBG  

com_projected = com.to_crs(epsg=3857)
com_projected.boundary.plot(ax=ax, lw=1, color='c')

xlim=[-70.9,-70.4]
ylim=[-33.7,-33.2]
for x, y, label in zip(com_projected.geometry.centroid.x, com_projected.geometry.centroid.y, com_projected.NOM_COMUNA):
    if xlim[0]<x<xlim[1] and ylim[0]<y<ylim[1]:
        ax.text(x, y, label, fontsize = 10)
        
ax.set_xlim(xlim)
ax.set_ylim(ylim);

## Reemplace 'XXX' por su apellido
ax.set_title('RM - Población total por manzana - Censo 2017 - Ejecutado por Allendes Álvarez',fontsize=14)

## Reemplace 'XXX' por su apellido en el nombre del archivo de salida 
fig.savefig('PoblacionRM_C2017_Allendes_Alvarez.jpg')

## 5. Cierre de la Actividad 01: Repositorio presonal
Para terminar la Actividad 01, deben hacer los siguientes pasos:
- Crear un repositorio en su cuenta personal con el nombre ``IMT2200-<NOMBRE>-<APELLIDO>`` y clonar en su computador.
- Crear una carpeta adentro llamada "Actividad 01" y copiar adentro el contenido de la carpeta "Actividad 01" del repositorio del curso.
- Actualizar el repositorio agregando el Notebook de Jupyter y la imagen con el Mapa con su nombre.
- Editar el archivo ``README.md`` para describir su repositorio.
- Entregar en el módulo ``Actividad 1`` en Canvas la URL de su repositorio para corrección.